.main {
  width: 100%;
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 100px;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.loadingText {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}
